.earlyAccess {
    height: 150px;
    background-color: hsl(218, 28%, 13%);
}

.earlyAccess__container{
    margin: 0 auto;
    width: 50vw;
    background-color: hsl(217, 28%, 15%);
    height: 300px;
    position: relative;
    top: -15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
