.footer {
    background-color: hsl(216, 53%, 9%);
    padding-top: 200px;
    width: calc(100vw - 20px);
}

.footer__sections {
    display: flex;
}

.footer__location {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 300px;
}

.footer__info {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px
}

.footer__links {
    display: flex;
    flex-direction: row;
    width: 25%;
    gap: 300px;
}

.footer__links li {
    list-style-type: none;
}

.footer__socials {
    width: 300px;
}
