.navegacion {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-family: 'Raleway', sans-serif;
    min-width: min(calc(100vw - 80px), 1440px);
}

.navegacion__enlaces {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.navegacion__enlace {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}