.stay-productive__link {
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    gap: 5px;
    height: 30px;
}

.stay-productive__link--text {
    color: hsl(176, 68%, 64%);
}


