.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(218, 28%, 13%);
    padding: 15px 0px;
}

.testimonials__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin: 100px 0;
}


.testimonials__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    background-color: hsl(219, 30%, 18%);
    padding: 30px;
    gap: 20px;
    border-radius: 5px;
}

.testimonial__image {
    width: 30px;
    border-radius: 100%;
}

.testimonial__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.testimonial__name {
    font-size: 0.80rem;
    margin-bottom: 5px;
}

.testimonial__title {
    font-size: 0.65rem;
    font-weight: 100;
}